@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+VIC+Guides&display=swap');
.projects-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 2%;
    color: #ffffff;
    font-family: "Open Sans";
    align-items: center;
}

.projects-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 2%;
    margin: 2%;
}
