@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+VIC+Guides&display=swap');
.about-certificates-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-size: cover;
}

.about-container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: "open sans", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
}

.about-heading {
    font-size: 28px;
}

.about-desc {
    font-size: 14px;
    margin-top: 12px;
}

@media screen and (max-width: 768px) {
    .about-container {
        width: 92%;
    }
    
}

.certificates-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: center;
}
