@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+VIC+Guides&display=swap');
.home-container {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    height: 100vh;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-family: "Open Sans";
}

.name-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.name {
    color: #ffffff;
    font-size: 68px;
    font-weight: 600;
    margin: 0;
}

.profession-sub {
    color:gray;
    font-size: 26px;
    font-weight: 600;
}



.profession {
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
}


.links-container {
    display: flex;
    flex-direction: row;  
}

.link-item {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 16px;
}

.link-icon {
    color: #ffffff;
    transition: transform 0.7s ease, color 0.7s ease;
}

.link-icon:hover {
    color: #4f95f7;
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 48px;
    }

    .profession-sub {
        font-size: 20px;
    }

    .profession {
        font-size: 24px;
    }
}


.resume-button {
    margin-top: 32px;
    width: 220px;
    height: 40px;
    border-radius: 36px;
    border: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.5s ease;
}

.resume-button:hover {
    transform: scale(1.1);

}